name: Deploy mail-notifier to EC2 

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on EC2 via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Ir a la carpeta donde está TODO el proyecto en la EC2
            cd /home/ec2-user/proyecto_final_python

            # Si este directorio es repo git, actualiza código (opcional)
            if [ -d ".git" ]; then
              git pull origin main || true
            fi

            # Reconstruir solo mail-notifier usando el docker-compose de infra
            cd infra
            sudo docker-compose build mail-notifier
            sudo docker-compose up -d mail-notifier